body{
    margin: 0;
    background-color: darkgray;
}
#gnb{height: 35px;
background-color: darkgray;
position: sticky; 
border-bottom: solid 1px black;
}
#logo{
    font-size: 20px;
    display: inline;
    position: absolute;
    left: 35px;
}
#search{
    position: relative;
    left: 1100px;
    width: 215px;
    height: 35px;
    display: inline;
    padding: 0px;
    border: 0px;
}


#mems{
    border:1px solid black;
    padding:20px;
    display:flex;
    justify-content:center;
}

#mainhead{
    text-align: center;
    margin: 0px;
}

.mem{
    margin: 30px;
}

a{
    text-decoration: none;
    color: black;
}
#firsthead{
    position: relative;
    margin: 0 auto;
    display: block;
    background-color: gray;
    width: 1300px;
}
#toc{
    position: relative;
    top: 10px;
    left:60px;
    border: 1px solid black;
    width: 130px;
    }   