body{
    margin: 0;
    background-color: #1f2023;
    color:white;
    }
#gnb{height: 35px;
    background-color: #2d2f34;
    position: sticky;
}
#logo{
    font-size: 20px;
    display: inline;
    position: absolute;
    left: 35px;
}
#search{
    position: relative;
    left: 1100px;
    width: 215px;
    height: 35px;
    display: inline;
    padding: 0px;
    border: 0px;
    background-color: #373a3c;
}
#albums{
    display:flex;
    justify-content:center; 
}
.album{
    display: inline-block;
    margin: auto;
}

#mems{
    border-bottom:1px solid black;
    padding:20px;
    display:flex;
    justify-content:center;
}

#mainhead{
    text-align: center;
    margin: 0px;
    padding-top: 10px;
    height: 50px;
    font-size: 30px;  
}

.mem{
    margin: 30px;
}

a{
    text-decoration: none;
    color: black;
}
#firsthead{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    background-color: white;
    color: black;
    width: 1300px;
}
#toc{
    position: relative;
    top: 10px;
    left:60px;
    border: 1px solid white ;
    width: 130px;
    }   